<div class="well well-lg col-md-offset-4 col-md-4">
  <% if alert %>
    <div class="alert alert-danger">
      <%= alert %>
    </div>
  <% end %>
<h1>Sign In</h1>
<br>
<%= form_tag signin_path do |f| %>

  <% if @sign_in_error %>
    <p class="text-danger">
      <%= @sign_in_error %>
    </p>
  <% end %>

  <div  class="field form-group">
    <div class="control-label">
      <%= label_tag :email %>
    </div>
    <div>
      <%= email_field_tag :email, '', :class => 'form-control' %>
    </div>
  </div>
  <div class="field form-group">
    <div class="control-label">
      <%= label_tag :password %>
    </div>
    <div>
      <%= password_field_tag :password, '', :class => 'form-control' %>
    </div>
  </div>
  <div>
    <%= submit_tag "Sign in", :class => "btn btn-primary" %>
  </div>

<% end %>
</div>
